main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loadingDiv {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.loadingDiv > p {
  font-size: 20px;
}
.inputDiv {
  width: 100%;
  margin-top: 20px;
}
.userInput {
  width: 100%;
  height: 28px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.userInput > button {
  padding: 0px;
  width: min(10%, 50px);
  border: solid 1px black;
  border-radius: 0px;
  font-weight: normal;
}
input {
  border: solid 1px black;
  border-right: none;
  width: min(80%, 350px);
}
.results {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result {
  width: min(80%, 350px);
  display: grid;
  grid-template-columns: 1fr 5fr 30px;
}
.resultConnection {
  text-align: left;
}
.explanation {
  width: min(80%, 350px);
  border-block: 1px solid;
  margin-block: 5px;
}
.error {
  margin-bottom: 5px;
  color: red;
}
