body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 252, 244);
}
#root {
  width: calc(100% - 40px);
  height: 100%;
  padding-inline: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
p,
label,
input,
button,
h1,
h2,
h3 {
  margin: 0;
  color: black;
}
input,
button {
  background-color: rgb(255, 252, 244);
}
